.layout-wrapper {
    min-height: 100vh;
}
body {
    font-family: "Lato", sans-serif;
    color: var(--text-color);
    background-color: #f1f5f9;
    margin: 0;
    padding: 0;
    min-height: 100%;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.layout-topbar {
    position: fixed;
    height: 4rem;
    z-index: 997;
    left: 0;
    top: 0;
    width: 100%;
    padding: 0 2rem;
    background-color: white;
    display: flex;
    align-items: center;
}
img {
    width: 3rem;
    display: block;
    vertical-align: middle;
}

.layout-topbar .layout-topbar-logo {
    display: inline-flex
;
    align-items: center;
    font-size: 1.5rem;
    border-radius: var(--content-border-radius);
    color: var(--text-color);
    font-weight: 500;
    gap: 0.5rem;
    text-decoration: none;
}

html {
    height: 100%;
    font-size: 14px;
    line-height: 1.5;
    --surface-overlay: white;
    --primary-color: #10b981;
    --surface-hover: #f1f5f9;
    --text-color: #334155;
}

.layout-sidebar {
    position: fixed;
    width: 20rem;
    height: calc(100vh - 8rem);
    z-index: 999;
    overflow-y: auto;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    top: 6rem;
    left: 2rem;
    transition: transform var(--layout-section-transition-duration), left var(--layout-section-transition-duration);
    background-color: var(--surface-overlay);
    border-radius: var(--content-border-radius);
    padding: 0.5rem 1.5rem;
}

.layout-menu {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.layout-menu .layout-root-menuitem > .layout-menuitem-root-text {
    font-size: 0.857rem;
    text-transform: uppercase;
    font-weight: 700;
    color: var(--text-color);
    margin: 0.75rem 0;
}
.layout-menu ul
 {
    margin: 0;
    padding: 0;
    list-style-type: none;
}
.layout-menu ul a.active-route {
    font-weight: 700;
    color: var(--primary-color);
}
.layout-menu ul a {
    display: flex;
    align-items: center;
    position: relative;
    outline: 0 none;
    color: var(--text-color);
    cursor: pointer;
    padding: 0.75rem 1rem;
    border-radius: var(--content-border-radius);
    transition: background-color var(--element-transition-duration), box-shadow var(--element-transition-duration);
}
a {
    color: inherit;
    text-decoration: inherit;
}
.layout-menu ul a:hover
 {
    background-color: var(--surface-hover);
}
.pi {
    font-family: "primeicons";
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    display: inline-block;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.layout-menu ul a .layout-menuitem-icon {
    margin-right: 0.5rem;
}
.pi {
    font-size: var(--p-icon-size);
}
.pi-fw
 {
    width: 1.28571429em;
    text-align: center;
}